{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   
    <link rel="stylesheet" href="{% static 'css/tailwind.css'%}" />
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    {% block head %} {% endblock head %}
  </head>
  <body>
    {% block body %}
    
    {% endblock body %}

    <script>
      feather.replace();
    </script>

<script type="text/javascript" src="{% static 'js/main.js'%}"></script>
  </body>
</html>
