{% extends 'base.html' %} {% block body %}
<div
  class="min-w-screen min-h-screen flex flex-col items-center justify-center"
>
  <header class="mb-3">
    <h1 class="logo">Taskioo</h1>
  </header>

  <main class="max-w-md w-full">
    <h4 class="mb-6 text-center">Forgot your password?</h4>
    <form class="w-full mb-2" action="login.php" method="POST">
      <div class="input_container">
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="Enter your email ..." />
      </div>

      <button class="btn btn-primary block mt-10 text-lg" type="submit">
        Reset my Password
      </button>
    </form>

    <div class="border-b my-5"></div>

    <p class="text-sm text-center text-gray-600">
      Remember my password?
      <a href="{% url 'login' %}" class="underline">Go to login</a>
    </p>
  </main>
</div>
{% endblock body %}
