{% extends 'base.html' %} {% load static %} {% block body %}
<div
  class="min-w-screen min-h-screen flex flex-col items-center justify-center"
>
  <header class="mb-3">
    <h1 class="logo">Taskioo</h1>
  </header>


  <main class="max-w-md w-full">
    <h4 class="mb-6 text-center">Login to your account</h4>
    <form class="w-full mb-2" action="" method="post">
      {% csrf_token %}
      
      
      {% for field in form %}
      <div class="fieldWrapper input_container">
      {{ field.label_tag }}
        
        {% if field.field.widget.input_type == 'password'  %}
        
        <div class="flex gap-2">
          {{field}}
          <i
            id="pwd_icon"
            onclick="handlePwdIconClick(this)"
            class="w-5 cursor-pointer text-gray-700"
            data-feather="eye"
          ></i>
          <p>{{field.errors}}</p>
        </div>
        {%else%}
        {{field}}
        <p>{{field.errors}}</p>
        {% endif %}
        <div>
       
        </div>
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
      </div>
      {% endfor %} 
      
      
   
      <button class="btn btn-primary block mt-10 text-lg" type="submit">
        Login
      </button>
    </form>

    <div class="text-center">
      <a
        class="text-sm text-gray-500 underline"
        href="{% url 'forgot_password' %}"
        >Forgot Password?</a
      >
      <p class="text-sm font-normal text-gray-600 mt-3">
        By continuing Email, you agree to Todoist’s Terms of Service and Privacy
        Policy.
      </p>
    </div>

    <div class="border-b my-5"></div>

    <p class="text-sm text-center text-gray-600">
      Don't have an account?
      <a href="{% url 'signup' %}" class="underline">Sign up</a>
    </p>
  </main>
</div>

<script type="text/javascript" src="{% static 'main.js'%}"></script>
{% endblock body %}
